@font-face {
    font-family: Judson-Bold;
    src: url(../fonts/Judson/Judson-Bold.ttf);
}

@font-face {
    font-family: Jura-Regular;
    src: url(../fonts/Jura/static/Jura-Regular.ttf);
}

@font-face {
    font-family: Jura-Bold;
    src: url(../fonts/Jura/static/Jura-Bold.ttf);
}